@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500;800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@800&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    
}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}
h1 {
    font-size: 40px;
    align-items: center;
    justify-content: center;
    color: #3b3b3b;
}
h3{
    color: #3b3b3b;
}
h2{
    display: flex;
    justify-content: center;
    margin: 20px;
    margin-top: 30px;
    margin-bottom: 10px;
}
header {
    color: #535353;
    display: flex;
    width: 300px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.cabecalho {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
hr {
    width: 300px;
    border: 1px solid #bebebe;
    margin-top: 30px;
}
.pontuacao{
    color: #3b3b3b;
    display: flex;
    align-items: center;
    justify-content: center
}
span {
    margin: 10px;
    margin-top: 0px;
}
section {
    display: flex;
    flex-direction: column;
    
}
p{
    margin-top: 5px;
}
.jogadorX {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
}
.jogadorO {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 20px;
}
.jogoVelha {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 30px;
    border-radius: 12px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.200);
}

button {
    border: 0px;
    width: 100px;
    height: 100px;
    font-family: 'Nunito', sans-serif;
    font-size: 45px;
    color: #7a7a7a;
}

#n1 {
    border-right: 2px solid rgb(199, 199, 199);
    border-bottom: 2px solid rgb(199, 199, 199);
    border-radius: 10px 0px 0px 0px;
}

#n2 {
    border-bottom: 2px solid rgb(199, 199, 199);
}

#n3 {
    border-bottom: 2px solid rgb(199, 199, 199);
    border-left: 2px solid rgb(199, 199, 199);
    border-radius: 0px 10px 0px 0px;
}

#n4 {
    border-right: 2px solid rgb(199, 199, 199);
    border-bottom: 2px solid rgb(199, 199, 199);
}

#n5 {
    border-bottom: 2px solid rgb(199, 199, 199);
}

#n6 {
    border-bottom: 2px solid rgb(199, 199, 199);
    border-left: 2px solid rgb(199, 199, 199);
}

#n7 {
    border-right: 2px solid rgb(199, 199, 199);
    border-radius: 0px 0px 0px 10px;
}

#n9 {
    border-left: 2px solid rgb(199, 199, 199);
    border-radius: 0px 0px 10px 0px;
}

button:hover {
    background-color: rgb(230, 230, 230 );
    cursor: pointer
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    flex-direction: column;
}

h4{
    color: #7a7a7a;
}

.jogador1 h3{
    color: rgb(43, 121, 145);
    font-family: 'Nunito', sans-serif;
}

.jogador2 h3{
    color: rgb(165, 40, 40);
    font-family: 'Nunito', sans-serif;
}

.X::before {
    color: rgb(19, 98, 122);
    content: "X";
}

.O::before {
    content: "O";
    color: rgb(165, 40, 40);
}

.txtJogX {
    text-decoration:underline;
}

.txtJogO {
    text-decoration:underline;
}

@keyframes baixoPraCima{
    from {height: 0; font-size: 0;}
    to {height: 30px; font-size: 15}
}

#ganhador.subir {
    font-family: 'Nunito', sans-serif;
    animation-name: baixoPraCima;
    animation-duration: 0.25s;
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    font-size: 18px;
    background-color: rgb(70, 255, 70);
    color: rgb(4, 92, 51);
}

@keyframes CimaPraBaixo{
    from {height: 30px; font-size: 15}
    to {height: 0; font-size: 0}
}

#ganhador.descer {
    font-family: 'Nunito', sans-serif;
    animation-name: CimaPraBaixo;
    animation-duration: 0.25s;
    animation-timing-function: ease-out;
    width: 100%;
    height: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    font-size: 0px;
    background-color: rgb(70, 255, 70);
    color: rgb(4, 92, 51);
}  

#ganhador.velhaSubir {
    font-family: 'Nunito', sans-serif;
    animation-name: baixoPraCima;
    animation-duration: 0.25s;
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    font-size: 18px;
    background-color: rgb(243, 255, 70);
    color: rgb(92, 91, 4);
}

#ganhador.velhaDescer {
    font-family: 'Nunito', sans-serif;
    animation-name: CimaPraBaixo;
    animation-duration: 0.25s;
    animation-timing-function: ease-out;
    width: 100%;
    height: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    font-size: 0px;
    background-color: rgb(243, 255, 70);
    color: rgb(92, 91, 4);
}